<div class="wrapper">
    <div class="company-name-logo-grid">
        <div class="logo-name-company-container">
            <img [src]="companyNameLogo.logo" alt="Logo"/>
            <h3>{{companyNameLogo.companyName}}</h3>
        </div>
        <div class="edit-container-action top-right" (click)="openEditModal('editLogoNameModal')">
            <img [src]="'icons/pencil_icon.svg'" alt="edit">
        </div>
    </div>
    <div class="company-description-grid">
        <h2>Description</h2>
        <div class="desc-con">
            <p>{{description}}</p>
        </div>
        <div class="edit-container-action" (click)="openEditModal('editDescriptionModal')">
            <img [src]="'icons/pencil_icon.svg'" alt="edit">
        </div>
    </div>
    <div class="company-address-grid">
        <h2>Localization</h2>
        <app-map [currentAddress]="companyAddress"></app-map>
        <div class="company-address">
            <div class="address-elem">
                <h3>City:</h3>
                <p>{{companyAddress.city}}</p>
            </div>
            <div class="address-elem">
                <h3>Street:</h3>
                <p>{{companyAddress.street}}</p>
            </div>
            <div class="address-elem">
                <h3>Building number:</h3>
                <p>{{companyAddress.buildingNumber}}</p>
            </div>
            <div class="address-elem">
                <h3>Postal code:</h3>
                <p>{{companyAddress.postalCode}}</p>
            </div>
        </div>
        <div class="edit-container-action" (click)="openEditModal('editAddressModal')">
            <img [src]="'icons/pencil_icon.svg'" alt="edit">
        </div>
    </div>
    <div class="company-portfolio-grid">
        <h2>Portfolio</h2>
        <app-company-portfolio-list [images]="portfolioList"></app-company-portfolio-list>
        <div class="add-container-action" (click)="openEditModal('addPortfolioModal')">
            <img alt="add" [src]="'icons/plus_icon.svg'"/>
            <p>Add new photos</p>
        </div>
    </div>
    <div class="company-opinion-gird">
        <app-company-opinions></app-company-opinions>
    </div>
    <div class="company-open-hours-gird">
        <app-company-business-hours></app-company-business-hours>
        <div class="edit-container-action" (click)="openEditModal('editHoursModal')">
            <img [src]="'icons/pencil_icon.svg'" alt="edit">
        </div>
    </div>
</div>


<app-company-description-edit-modal [description]="description" [isVisible]="openEditDescriptionModal" (closeModal)="closeEditModal('editDescriptionModal')"/>
<app-company-address-edit-modal [currentLocalization]="companyAddress" [isVisible]="openEditAddressModal" (closeModal)="closeEditModal('editAddressModal')"/>
<app-company-name-logo-edit-modal [isVisible]="openEditLogoNameModal" [logoAndName]="companyNameLogo" (closeModal)="closeEditModal('editLogoNameModal')"/>
<app-company-business-hour-edit-modal [isVisible]="openEditHoursModal" (closeModal)="closeEditModal('editHoursModal')"/>
<app-company-portfolio-add-modal [portfolioList]="portfolioList" [isVisible]="openAddPortfolioModal" (closeModal)="closeEditModal('addPortfolioModal')"/>