<div class="dropdown-container"
     [class.disabled]="disabled">

    <app-my-img [src]="selectedOption.image"
                [alt]="'img'"
                [type]="FileType.IMG_USER_AVATAR"
                *ngIf="selectedOption.image" class="icon" />

    <input
       class="selected-input"
       disabled
       [(ngModel)]="selectedOption.content"
       placeholder="{{placeholder}}"/>

    <img [ngClass]="{ 'up': menuOpen }" [src]="'icons/drop_down_arrow.png'" (click)="toggleMenu()" alt="Drop down" class="drop-down-icon"/>
</div>

<ul class="dropdown-menu" *ngIf="menuOpen" [class.disabled]="disabled">
    <li class="item"
        *ngFor="let item of options"
        [class.disabled]="isDisabled(item.id)"
        (click)="select(item)">

        <app-my-img [src]="item.image"
             [alt]="'img_cmp'"
                    *ngIf="item.image"
                    [type]="FileType.IMG_USER_AVATAR"
                    class="icon"/>

        <p class="item-text"
           [ngClass]="item.id==selectedOption.id ? 'sel' : ''">{{item.content}}</p>
    </li>
</ul>