<div class="hired-employee-view">

    <div class="horizontal">
        <div class="search-bar-cont">
            <app-search-and-sort-bar
                    [placeholder]="'Search e.g.: John Doe'"
                    (searchChanged)="onSearchChanged($event)"
                    [showSort]="false"/>
        </div>
        <div class="add-button-container" (click)="openAddEmployeeModal()">
            <img [src]="'icons/plus_icon.svg'" alt="add"/>
            <div class="expand">
                <span>Add new employee</span>
            </div>
        </div>
    </div>

    <div class="full-size">

        <app-double-spinner *ngIf="isEmployeesLoading"/>

        <div class="card-container" *ngIf="!isEmployeesLoading">
            <div class="profile-card" *ngFor="let employee of employeeList"
            [class.owner]="employee.role_in_company.includes('COMPANY_OWNER')"
            [class.manager]="employee.role_in_company.includes('COMPANY_MANAGER')"
            >
                <div class="avatar">
                    <app-my-img [src]="employee.avatar" [alt]="'Profile photo'" [type]="FileType.IMG_USER_AVATAR"/>
                </div>


                <h3>{{ employee.firstName }} {{employee.lastName}}</h3>
                <app-drop-down-list
                        [disabled]="!isDataEditable || employee.role_in_company.includes('COMPANY_OWNER')"
                        [noneValue]="false"
                        [options]="roles"
                        [selectedOption]="getEmployeeRole(employee.role_in_company)"
                        (valueChanged)="onRoleChanged($event, employee)"
                />
                <p class="email">{{ employee.email }}</p>
                <p class="phone">{{ employee.phone }}</p>
                <div class="fire-employee"
                     *ngIf="employee.role_in_company.toUpperCase() !== 'COMPANY_OWNER'"
                     (click)="fireEmployee(employee)">
                    <img [src]="'icons/reject_icon.svg'" alt="remove"/>
                    <div class="expand">
                        <p>Fire employee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <app-paginator [pagination]="pagination" (paginatorChanged)="onPaginationChanged()"></app-paginator>
</div>

<app-company-add-employee-modal [isVisible]="isAddEmployeeModalOpen"
                                (closeModal)="closeAddEmployeeModal()"></app-company-add-employee-modal>