.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap:10px;
}

.double-spinner{
    width: 30%;
    max-width: 50px;
    aspect-ratio: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: var(--pink) transparent var(--pink) transparent;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}