<div class="modal-backdrop" *ngIf="isVisible" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        <div class="title-create">
            <h2>Create new chat room</h2>
        </div>

        <div class="create-navigation">
            <div class="navigation-item" (click)="changeRoomType(true)"
            [class.active]="isSingleChat"
            >
                <span>Single chat</span>
            </div>
            <div class="navigation-item"
                 [class.active]="!isSingleChat"
                 (click)="changeRoomType(false)">
                <span>Group chat</span>
            </div>
        </div>

        <div class="create-content-container">

            <div class="search-container">
                <form #searchUserForm="ngForm">
                    <div class="inputBox">
                        <input type="text"
                               required
                               min="3"
                               name="firstName"
                               [(ngModel)]="searchModel.firstName"
                               #firstNameCtrl="ngModel"
                               placeholder="First name"/>
                        <span>First name</span>
                        <div *ngIf="firstNameCtrl.invalid && firstNameCtrl.touched">
                            <p *ngIf="firstNameCtrl.errors?.['required']">First name is required to search</p>
                            <p *ngIf="firstNameCtrl.errors?.['minlength']">First name must be at least 3 characters</p>
                        </div>
                    </div>
                    <div class="inputBox">
                        <input type="text"
                               min="3"
                               name="lastName"
                               [(ngModel)]="searchModel.lastName"
                               #lastNameCtr="ngModel"
                               placeholder="Last name"/>
                        <span>Last name</span>
                        <div *ngIf="lastNameCtr.invalid && lastNameCtr.touched">
                            <p *ngIf="lastNameCtr.errors?.['minlength']">First name must be at least 3 characters</p>
                        </div>
                    </div>
                </form>

                <img [src]="'icons/search_icon.svg'" (click)="searchUsers()"/>
                <img [src]="'icons/reject_icon.svg'" (click)="clearSearchForm()"/>
            </div>

            <div class="single-chat-container" *ngIf="isSingleChat">
                <app-double-spinner *ngIf="isUsersLoading"/>
                <div class="grid-list-container" *ngIf="!isUsersLoading">
                    <div class="list-row"

                         [ngClass]="{'selected' : item == selectedUser}"
                         (click)="selectUser(item)"

                         *ngFor="let item of this.resultUserList"
                         [class.me]="item.id === this.ownerId">
                        <img [src]="item.avatar" alt="Avatar">
                        <span>{{ item.name }}</span>
                    </div>
                </div>
            </div>


            <div class="group-chat-container" *ngIf="!isSingleChat">
                <form #roomNameForm="ngForm">
                    <div class="inputBox">
                        <input type="text"
                               name="name"
                               required
                               minlength="3"
                               #nameCtrl="ngModel"
                               [(ngModel)]="roomName">
                        <span>Room name</span>
                        <div *ngIf="nameCtrl.invalid && nameCtrl.touched">
                            <p *ngIf="nameCtrl.errors?.['required']">Room name is required</p>
                            <p *ngIf="nameCtrl.errors?.['minlength']">Room name must be at least 3 characters</p>
                        </div>
                    </div>
                </form>

            <div class="users-list">
                <div class="result-user-container">
                    <span>Search result</span>
                    <app-double-spinner *ngIf="isUsersLoading"/>
                    <div class="result-user-list" *ngIf="!isUsersLoading">
                        <div class="list-row"
                             [ngClass]="{'disabled': isUserSelected(item)}"
                             (click)="addUserToSelected(item)"
                             *ngFor="let item of this.resultUserList"
                             [class.me]="item.id === this.ownerId">
                            <img [src]="item.avatar" alt="Avatar">
                            <span>{{item.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="selected-user-container">
                    <span>Added chat users</span>
                    <div class="selected-user-list">
                        <div class="list-row"
                             (click)="removeUserFromSelected(item)"
                             *ngFor="let item of this.selectedUserList">
                            <img [src]="item.avatar" alt="Avatar">
                            <span>{{item.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <app-paginator [pagination]="paginator" (paginatorChanged)="onPaginatorChanged($event)"/>
        </div>

        <div class="confirm-button" (click)="confirm()">
            <span>Confirm</span>
        </div>
    </div>
</div>