.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background-color: var(--dark);
    border-radius: 8px;
    top: 10%;
    width: 50%;
    position: absolute;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    text-align: center;
    flex-flow: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.create-navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navigation-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid var(--white);
    transition: all .3s ease;
}

.navigation-item.active{
    border-color: var(--pink);
}

.navigation-item:hover{
    border-bottom: 1px solid var(--light-blue);
}

.navigation-item span{
    font: bold 14px/1.5 "Roboto", sans-serif;
    color: var(--white);
    user-select: none;
}

.create-content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.single-chat-container{
    height: 40vh;
}

.grid-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 5px 20px;
    max-height: 40vh;
    overflow-y: auto;
}

.list-row {
    display: flex;
    grid-template-columns: 48px 1fr;
    align-items: center;
    background-color: #021d27;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
    max-height: 50px;
}

.list-row img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.list-row span {
    color: var(--white);
    margin-left: 10px;
    user-select: none;
}

.list-row:hover {
    background-color: var(--white-25);
}

.list-row.selected {
    background-color: var(--lime_50);
}

.list-row.me {
    background-color: var(--pink_25);
    border: 1px solid var(--gold);
    opacity: 0.6;
    user-select: none;
}

.confirm-button{
    background-color: var(--pink);
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.confirm-button.disabled{
    opacity: 0.6;
    user-select: none;
}

.confirm-button:hover{
    background-color: var(--light-blue);
}

.confirm-button:active{
    background-color: var(--lime);
}

.confirm-button > span{
    font-weight: bold;
    color: var(--white);
    user-select: none;
}

.group-chat-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 40vh;
    min-height: 40vh;
    padding: 10px;
}

.inputBox {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid var(--white-10);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.7em;
    transform: translateX(14px) translateY(-8px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    color: var(--white);
    background: var(--dark-blue);
    letter-spacing: 1px;
    border: 1px solid var(--white-10);
}

.inputBox input {
    padding: 10px 10px;
    outline: none;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    color: var(--white-50);
    text-align: center;
    font-size: 1em;
}

.inputBox:has(input:focus) {
    border-color: var(--light-blue);
}

.inputBox p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.7em;
    transform: translateX(14px) translateY(18px);
    padding: 0 6px 1px 5px;
    border-radius: 2px;
    color: var(--white);
    background: var(--gold);
    letter-spacing: 1px;
    border: 1px solid var(--white-10);
}

.inputBox:has(div){
    border-color: var(--gold);
}

.users-list{
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;

}

.selected-user-container,
.result-user-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.result-user-container > span,
.selected-user-container > span{
    width: 100%;
    font: bold 14px/1.5 "Roboto", sans-serif;
    text-align: start;
    color: var(--white);
}

.selected-user-list,
.result-user-list{
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 5px;
    padding: 5px 10px;
}


.search-container{
    padding: 15px 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.search-container > img {
    width: 25px;
}

.search-container > form{
    display: flex;
    gap: 10px;
    width: 100%;
}