<div class="modal-backdrop" *ngIf="isVisible" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="head-container">
                <div class="title-container" (click)="isCheck=false" [ngClass]="{ 'sign-in': !isCheck }">
                    <p>Sign in</p>
                </div>
                <div class="title-container" (click)="isCheck=true" [ngClass]="{ 'register': isCheck }">
                    <p>Register</p>
                </div>
            </div>
        <div class="wrapper">
            <div class="content-container" [ngClass]="!isCheck ? 'sign-in-on' : 'sign-in-off'">
                <div class="input-container">
                    <img [src]="email_icon" alt="email" class="input-icon"/>
                    <input type="text"
                           placeholder="Address email"
                           class="input-field"
                           [(ngModel)]="login_model.email"
                    >
                </div>

                <div class="input-container">
                    <img [src]="lock_icon" alt="pass" class="input-icon"/>
                    <input [type]="passwordFields['signIn'].visible ? 'text' : 'password'"
                           placeholder="Password" class="input-field" [(ngModel)]="login_model.password">
                    <img [src]="passwordFields['signIn'].icon" alt="confirm"
                         [ngClass]="{'slash': !passwordFields['signIn'].visible}"
                         class="password-icon" (click)="togglePasswordVisibility('signIn')"/>
                </div>
                <div class="action-container">
                    <div class="button-confirm" (click)="sign_in()">
                        <p>Sign in</p>
                    </div>
                    <div class="button-rejected" (click)="close()">
                        <p>Cancel</p>
                    </div>
                </div>
            </div>
            <div class="content-container" [ngClass]="isCheck ? 'register-on' : 'register-off'">
                <div class="input-container">
                    <img [src]="email_icon" alt="email" class="input-icon"/>
                    <input type="text" placeholder="Address email" class="input-field">
                </div>

                <div class="input-container">
                    <img [src]="lock_icon" alt="pass" class="input-icon"/>
                    <input [type]="passwordFields['registerPassword'].visible ? 'text' : 'password'"
                           placeholder="Password" class="input-field">
                    <img [src]="passwordFields['registerPassword'].icon" alt="confirm"
                         [ngClass]="{'slash': !passwordFields['registerPassword'].visible}"
                         class="password-icon" (click)="togglePasswordVisibility('registerPassword')"/>
                </div>
                <div class="input-container">
                    <img [src]="lock_icon" alt="pass" class="input-icon"/>
                    <input [type]="passwordFields['registerConfirm'].visible ? 'text' : 'password'"
                           placeholder="Confirm password" class="input-field">
                    <img [src]="passwordFields['registerConfirm'].icon" alt="confirm"
                         [ngClass]="{'slash': !passwordFields['registerConfirm'].visible}"
                         class="password-icon" (click)="togglePasswordVisibility('registerConfirm')"/>
                </div>
                <div class="input-container">
                    <img [src]="user_icon" alt="fn" class="input-icon"/>
                    <input type="text" placeholder="First name" class="input-field">
                </div>
                <div class="input-container">
                    <img [src]="user_icon" alt="ln" class="input-icon"/>
                    <input type="text" placeholder="Last name" class="input-field">
                </div>
                <div class="input-container">
                    <img [src]="calendar_icon" alt="ln" class="input-icon"/>
                    <input type="text"
                           placeholder="Birth date e.g.: 1993-12-20" class="input-field">
                </div>
                <div class="input-container">
                    <img [src]="phone_icon" alt="phone" class="input-icon"/>
                    <input type="text"
                           placeholder="Phone number" class="input-field">
                </div>

                <div class="action-container">
                    <div class="button-confirm" (click)="register()">
                        <p>Register</p>
                    </div>
                    <div class="button-rejected" (click)="close()">
                        <p>Cancel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>