<div class="navigation">
    <app-navbar/>
</div>
<div class="main">
    <div class="view-container">
        <router-outlet/>
    </div>
</div>

<div class="footer">
    <div class="information-container">
        <p class="info-content-paragraph">
            This project was developed for personal use with the aim of improving programming
            skills and building a developer portfolio. The main objective was to gain practical
            experience, use modern technologies, and create a project that demonstrates skills in
            application design, implementation, and deployment.
        </p>
    </div>
</div>

