<div class="main-container">
    <img src="{{'data:image/jpeg;base64,' + company.logo}}" class="company-logo" alt="logo" draggable="false">
    <div class="company-data">
        <div class="name-address-data-container">
            <p class="company-name-paragraph">{{company.name}}</p>
            <p class="company-address-paragraph">{{company.address.postalCode}} {{company.address.city}}, {{company.address.street}} {{company.address.buildingNumber}}</p>
        </div>
        <div class="reviews-data">
            <div class="reviews-rating">
                <p class="rating-paragraph">{{company.rating | number:'1.1-1'}}</p>
                <img [src]="star_icon" alt="star"/>
            </div>
            <p class="number-reviews-paragraph">{{company.numberOfReviews}} opinions</p>
        </div>
    </div>
</div>