.main-container{
    display: flex;
    flex-flow: column;
    background-color: var(--black-50);
    height: 100%;
    border-radius: 5px;
    transition: all .2s ease;
}

.main-container:hover > .company-data{
    background-color: var(--black);
}


.company-data{
    display: flex;
    flex-flow: row;
    height: 100%;
    justify-content: space-between;
    padding:5px;
}

.name-address-data-container{
    width: 70%;
}

.reviews-data{
    width: 30%;
    align-items: end;
    justify-content: center;
}

.reviews-rating{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.company-logo{
    aspect-ratio: 16/9;
    border-radius: 5px 5px 0 0;
    color: var(--white)
}

.company-name-paragraph{
    font: bold 14px "Fira Code", sans-serif;
    color: var(--white);
    margin: 0;
}

.company-address-paragraph{
    padding: 0;
    font: bold 12px "Roboto", sans-serif;
    color: var(--white-50);
    margin: 5px 0 0;
}

.number-reviews-paragraph{
    color: var(--white-75);
    font: bold 12px "Arial", sans-serif;
    margin: 5px 0 0;
    text-align: end;
}

.rating-paragraph{
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    margin: 0;
}