<div class="messages-page">
    <div class="left-panel"
        [class.full]="this.selectedRoom == null"
    >
        <div class="top">
            <div class="search">
                <input type="text" placeholder="Search by user or chat name"/>
                <img [src]="'icons/search_icon.svg'" alt="search"/>
            </div>

            <div class="btn-create-room" (click)="onCreateModalOpen()">
                <img [src]="'icons/plus_icon.svg'" alt="add"/>
                <div class="expand">
                    <span>Create new chat</span>
                </div>
            </div>

        </div>

        <!--    SECTION ABOUT LEFT PANEL WITH USER ROOMS         -->
        <div class="full-height" *ngIf="isRoomsLoading">
            <app-double-spinner />
        </div>

        <div class="full-height" *ngIf="!isRoomsLoading && this.userRooms.length == 0">
            <div class="parent">
                <div class="message-item full">
                    <span> You dont have any conversation yet!</span>
                </div>
            </div>
        </div>

        <div class="list" *ngIf="!isRoomsLoading && this.userRooms.length > 0">
            <div *ngFor="let room of userRooms">

<!--                HERE ADD UNREAD MESSAGE NOTIFICATION        -->
                <div class="list-item"
                     [class.unread-msg]="room.numOfUnreadMessages > 0"
                     [class.selected]="room == selectedRoom"
                     *ngIf="room.roomType == RoomType.GROUP" (click)="selectRoom(room)">
                    <div class="room-member-list" >
                        <img *ngFor="let member of room.memberProjections | slice:0:5"
                             class="member-avatar"
                             [src]="getUserAvatar(member)" alt="img"/>

                    </div>
                    <div class="room-information">
                        <span class="room-name">{{room.name}}</span>
                        <span class="room-last-message" *ngIf="room.lastMessage">
                            {{room.lastMessage.sender.firstName}}: {{room.lastMessage.content}}
                        </span>
                    </div>
                    <div class="unread-con" *ngIf="room.numOfUnreadMessages > 0">
                        <span>{{room.numOfUnreadMessages}}</span>
                    </div>
                </div>

                <div class="list-item"
                     [class.unread-msg]="room.numOfUnreadMessages > 0"
                     [class.selected]="room == selectedRoom"
                     *ngIf="room.roomType == RoomType.PRIVATE" (click)="selectRoom(room)">
                    <div class="room-member-list" *ngIf="findChatPartner(room.memberProjections) as mem">
                        <img class="member-avatar" [src]="getUserAvatar(mem)" alt="img"/>
                    </div>
                    <div class="room-information" *ngIf="findChatPartner(room.memberProjections) as mem">
                        <span class="room-name">{{mem.firstName}} {{mem.lastName}}</span>
                        <span class="room-last-message" *ngIf="room.lastMessage">
                            {{room.lastMessage.sender.firstName}}: {{room.lastMessage.content}}
                        </span>
                    </div>
                    <div class="unread-con" *ngIf="room.numOfUnreadMessages > 0">
                        <span>{{room.numOfUnreadMessages}}</span>
                    </div>
                </div>

            </div>
        </div>
        <app-paginator [pagination]="roomPaginator" (paginatorChanged)="onRoomPaginatorChanged($event)"/>
    </div>

    <div class="right-panel"
    [class.hide]="this.selectedRoom == null"
    >
        <div class="message-content" *ngIf="this.selectedRoom != null" >

            <div class="room" *ngIf="this.selectedRoom.roomType == RoomType.GROUP">
                <div class="cont">
                    <div class="images">
                        <img *ngFor="let member of this.selectedRoom.memberProjections | slice:0:10"
                             [src]="getUserAvatar(member)"
                             alt="img"/>
                    </div>
                    <span>{{this.selectedRoom.name}}</span>
                </div>
                <img [src]="'icons/menu_icon.svg'" alt="menu"/>
            </div>

            <div class="room" *ngIf="this.selectedRoom.roomType == RoomType.PRIVATE">
                <div class="cont" *ngIf="findChatPartner(this.selectedRoom.memberProjections) as mem">
                    <div class="images">
                        <img [src]="getUserAvatar(mem)" alt="img"/>
                    </div>
                    <span>{{mem.firstName}} {{mem.lastName}}</span>
                </div>
                <img [src]="'icons/menu_icon.svg'" alt="menu"/>
            </div>

            <app-double-spinner *ngIf="isMessageLoading"/>

            <div class="messages" #htmlMessageList (scroll)="onScroll()">
                <div class="parent" *ngFor="let message of messages"
                     [class.right]="message.sender.id == this.logged_user_id">
                    <div class="message-bg">
                        <img [src]="getUserAvatar(message.sender)" alt="img"/>
                        <div class="message-item">
                            <span>
                               {{message.content}}
                            </span>
                        </div>
                        <div class="message-created-time"
                             [class.left]="message.sender.id != this.logged_user_id"
                        >
                            <span>{{formatMessageDate(message.createdDate)}}</span>
                        </div>
                    </div>
                </div>

                <div class="parent" *ngIf="messages.length == 0 && !isMessageLoading">
                    <div class="message-item full">
                        <span> You dont have any message yet!</span>
                    </div>
                </div>
            </div>
            <div class="write">
                <textarea type="text" placeholder="Write your message here..."></textarea>
                <img [src]="'icons/plane_icon.svg'" alt="send"/>
            </div>
        </div>
    </div>
</div>


<app-create-chat-room-modal [isVisible]="isCreateModalVisible" (closeModal)="onCreateModalClose()"/>