<div class="nav-container">
    <div class="parent">
        <p class="title-paragraph">Book me up</p>

        <div class="nav-item-container">

            <div class="search-container" [class.active]="isActive">

                <div class="search-icon-title-container" (click)="toggleSearch()">
                    <img class="search-icon"
                         [src]="'icons/search_icon.svg'"
                         alt="icon"/>
                    <p style="color: white;">
                        Search
                    </p>
                </div>

                <div class="search-input-container">
                    <div class="input-container">
                        <input type="text" placeholder="Search by company" class="search-input" />
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Search by place" class="search-input" />
                    </div>
                    <div class="action-container">
                        <img [src]="'icons/confirm_icon.svg'" alt="search"/>
                    </div>
                </div>
            </div>

            <div class="nav-item"
                 *ngFor="let item of BAR_NAVIGATION"
                 [routerLink]="item.path"
                 [ngClass]="router.url.includes(item.path) ? 'active': ''"
            >
                <img [src]="item.icon" alt="Home"/>
                <p>{{item.name}}</p>
            </div>
        </div>

        <div class="nav-user-menu">
            <img [src]="user_avatar" alt="User Icon" class="user-avatar"/>
            <p [textContent]="user_name" class="user-name-paragraph"></p>
            <img [ngClass]="{ 'up': menuOpen }" [src]="drop_down_icon" (click)="toggleMenu()" alt="Drop down" class="drop-down-icon"/>

            <ul class="dropdown-menu" *ngIf="menuOpen">
                <li
                    *ngFor="let item of NAVIGATION_USER"
                    [routerLink]="item.path"
                >
                    <div class="nav-icon-container">
                        <img [src]="item.icon" alt="My appointments"/>
                    </div>
                    <p [ngClass]="router.url.includes(item.path) ? 'active': ''">{{item.name}}</p>
                </li>

            </ul>
        </div>
    </div>
</div>