<div class="nav-container">
    <p class="title-paragraph">Book me up</p>

    <div class="nav-item-container">

        <div class="search-container" [class.active]="isActive">

            <div class="search-icon-title-container" (click)="toggleSearch()">
                <img class="search-icon"
                     [src]="'icons/search_icon.svg'"
                     alt="icon"/>
                <p style="color: white;">
                    Search
                </p>
            </div>

            <div class="search-input-container">
                <div class="input-container">
                    <input type="text" placeholder="Search by company" class="search-input" />
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Search by place" class="search-input" />
                </div>
                <div class="action-container">
                    <img [src]="'icons/confirm_icon.svg'" alt="search"/>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <img [src]="home_icon" alt="Home"/>
            <p>Home</p>
        </div>
        <div class="nav-item">
            <img [src]="company_icon" alt="Company"/>
            <p>Companies</p>
        </div>
    </div>

    <div class="nav-user-menu">
        <img [src]="user_avatar" alt="User Icon" class="user-avatar"/>
        <p [textContent]="user_name" class="user-name-paragraph"></p>
        <img [ngClass]="{ 'up': menuOpen }" [src]="drop_down_icon" (click)="toggleMenu()" alt="Drop down" class="drop-down-icon"/>
    </div>


    <ul class="dropdown-menu" *ngIf="menuOpen">
        <li>
            <div class="nav-icon-container">
                <img [src]="calendar_icon" alt="My appointments"/>
            </div>
            <p>My appointments</p>
        </li>
        <li>
            <div class="nav-icon-container">
                <img [src]="company_icon" alt="My companies"/>
            </div>
            <p>My Companies</p>
        </li>
        <li>
            <div class="nav-icon-container">
                <img [src]="messages_icon" alt="Messages"/>
            </div>
            <p>Messages</p>
        </li>
        <li><h1 class="white-line"></h1></li>
        <li>
            <div class="nav-icon-container">
                <img [src]="settings_icon" alt="Settings"/>
            </div>
            <p>Settings</p>
        </li>
        <li><h1 class="white-line"></h1></li>
        <li>Logout</li>
    </ul>
</div>