.offer-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

@media  (max-width: 999px) {
    .offer-card-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1000px) and (max-width: 1499px) {
    .offer-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1500px) and (max-width: 1999px) {
    .offer-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 2000px) {
    .offer-card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}