<div class="parent">
    <div class="horizontal">
        <div class="search-bar-cont">
            <app-search-and-sort-bar
                    [sortByItems]="sortByItems"
                    (searchChanged)="onSearchChange($event)"
                    (sortChanged)="onSortChange($event)"/>
        </div>
        <div class="add-button-container" (click)="openAddModal()">
            <img [src]="'icons/plus_icon.svg'" alt="add"/>
            <div class="expand">
                <span>Add new offer</span>
            </div>
        </div>
    </div>

    <div class="full-height">
        <app-double-spinner *ngIf="isOfferLoading"/>
        <div class="offer-card-container" *ngIf="!isOfferLoading">
            <app-company-management-offer-item [isEditable]="isEditable" *ngFor="let offer of offers" [offer]="offer"/>
        </div>
    </div>

    <app-paginator [pagination]="paginator" (paginatorChanged)="onPaginationChanged()"/>
</div>


<app-company-add-offer-modal [isVisible]="isAddOfferModalOpen" (closeModal)="closeAddModal()"/>