.appointments-container{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.loading-container{
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.appointments-list{
    display: grid;
    /*flex: 1;*/
    height: 100%;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 15px;
    overflow: auto;
    opacity: 0;
    transition: all 1s ease;
}

.appointments-list.show{
    opacity: 1;
}


/* Appointment card item */
.appointment-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    gap: 10px;
    background-color: var(--white-10);
    border: 1px solid var(--white-25);
    transition: all .3s ease-in-out;
}

.appointment-item:hover{
    transform: scale(1.025);
}

.appointment-item.pending{
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue-5);
}

.appointment-item.accepted{
    border: 1px solid var(--lime);
    background-color: var(--lime_5);
}

.appointment-item.completed{
    border: 1px solid var(--green);
    background-color: var(--green-5);
}

.appointment-item.cancelled{
    border: 1px solid var(--gold);
    background-color: var(--gold-5);
}

.appointment-item.rejected{
    border: 1px solid var(--pink);
    background-color: var(--pink_5);
}


.card-company-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 40%;
}


.card-company-info > img{
    width: 60px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


.information-item{
    width: 100%;
    display: flex;
}

.offer-name {
    padding: 0;
    margin: 0;
    color: var(--white);
    font: bold 18px/1.5 "Andale Mono", monospace;
}

.information-item > span:last-child{
    color: var(--white);
    font: bold 14px/1.5 "Arial", sans-serif;
}

.card-company-info > span {
    color: var(--white);
    font: bold 16px/1.5 "Andale Mono", monospace;
}

.appointment-information > span{
    padding: 5px;
    color: var(--white);
    font: bold 20px/1.5 "Roboto", sans-serif;
}

/* Buttons */

.action-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button{
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white-10);
    transition: all .3s ease;
    overflow: hidden;
}

.button.status{
    background-color: var(--gray);
}

.button.cancel{
    background-color: var(--pink);
}
.button.cancel img{
    rotate: 45deg;
}

.button.opinion{
    background-color: var(--gold);
}


.button.cancel:active,
.button.opinion:active{
    background-color: var(--lime);
}

.button img{
    width: 22px;
    height: 22px;
    user-select: none;
}

.button span{
    color: var(--white);
    padding: 0;
    margin: 0;
    text-wrap: nowrap;
    user-select: none;
}

.expand{
    width: 0;
    opacity: 0;
}

.button:hover{
    width: 120px;
    border-radius: 2px;
}
.button:hover .expand{
    opacity: 1;
    width: fit-content;
    margin-left: 5px;
}




/* Appointments information */

.appointment-information{
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    padding: 10px 0;
    gap: 10px;
}

.information-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.information-item > img{
    border-radius: 0;
    width: 20px;
}

.information-item > span{
    color: var(--white);
}