<div class="appointments-container">
    <app-search-and-sort-bar
            [placeholder]="'Search by offer name... '"
            [showFilter]="true"
            [filterByItems]="filterByItems"
            [sortByItems]="sortByItems"
            (searchChanged)="onSearchChanged($event)"
            (sortChanged)="onSortChange($event)"
            (filterChanged)="onFilterChange($event)"/>

    <div class="loading-container" *ngIf="isReservationLoading">
        <app-double-spinner/>
    </div>

    <div class="no-reservations" *ngIf="!isReservationLoading && reservationList.length == 0">
        <span>You don't have any reservations yet.</span>
        <div class="btn" routerLink="/app/home/search">
            <span>Make an reservation!</span>
        </div>
    </div>

    <div class="appointments-list"
         [class.show]="!isReservationLoading"
         *ngIf="!isReservationLoading && reservationList.length > 0">

        <div class="appointment-item"
             *ngFor="let item of this.reservationList">
            <div class="reservation-card">


                <div class="reservation-content">
                    <div class="reservation-bar" (click)="onReservationSelected(item)">
                        <div class="reservation-logo" [class.large-logo]="item === this.reservationSelected">
                            <app-my-img [src]="item.companyLogo" [type]="FileType.IMG_COMPANY_LOGO"/>
                        </div>

                        <h2>{{item.offer.name}}</h2>

                        <div class="status-badge"
                             [ngClass]="item.status.toLowerCase()">
                            {{item.status}}
                        </div>
                    </div>

                    <div class="expand" [class.show]="this.reservationSelected === item">
                        <div class="reservation-grid">
                            <div class="item">
                                <span class="label">Order number</span>
                                <span class="value">{{item.reservationNumber}}</span>
                            </div>

                            <div class="item">
                                <span class="label">Company</span>
                                <span class="value">{{item.companyName}}</span>
                            </div>

                            <div class="item">
                                <span class="label">Address</span>
                                <span class="value">{{getAddressString(item.address)}}</span>
                            </div>

                            <div class="item">
                                <span class="label">Date</span>
                                <span class="value"> {{item.reservationDate | date: 'YYYY-MM-dd HH:mm'}} {{ countDownS | async}}</span>
                            </div>

                            <div class="item">
                                <span class="label">Price</span>
                                <span class="value price">{{item.offer.price}} PLN</span>
                            </div>

                            <div class="item">
                                <span class="label">Duration</span>
                                <span class="value"> {{item.offer.duration}} min</span>
                            </div>
                        </div>

                        <div class="reservation-note">
                            <span>
                                {{getStatusText(item.status)}}
                            </span>

                            <div class="actions-btn">
                                @if (isCancelAvailable(item.status)){
                                    <div class="button cancel" (click)="cancelReservation(item)">
                                        <span>Cancel reservation</span>
                                    </div>
                                }
                                @if (item.status.toLowerCase() === 'completed' && !item.hasUserRatedOffer){
                                    <div class="button opinion" (click)="openAddOpinionModal(item)">
                                        <span>Add opinion</span>
                                    </div>
                                }
                            </div>

                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
    <app-paginator [pagination]="pagination" (paginatorChanged)="onPaginatorChanged()"/>
</div>

<app-add-opinion-modal
        [inputData]="opinionModalInput"
        [isVisible]="isAddModalOpen"
        (closeModal)="onAddOpinionModalClose($event)"/>