<div class="portfolio-container">
    <div class="slider-container">
        <div class="slider-track">
            <div class="slide" *ngFor="let img of images; let i = index">
                <img class="portfolio-image" [src]="'data:image/jpeg;base64,' + img.photo" alt="Image {{i+1}}">
                <div class="remove-container" (click)="removeImage(i)">
                    <img class="remove-icon" [src]="'icons/trash_icon.svg'" alt="Delete" />
                </div>
            </div>
        </div>
    </div>
</div>
