<div class="opinions-main-container">
    <h2>Opinions</h2>
    <div class="star-container">
        <div class="overall-opinions">
            <p class="overall-value-opinion">{{opinionsDetails.overallRating}} / 5</p>
            <app-rating-stars [rating]="opinionsDetails.overallRating"></app-rating-stars>
            <p class="overall-number-value">Based on {{opinionsDetails.overallOpinions}} opinions</p>
        </div>
        <div class="detailed-opinions">
            <div class="bar" *ngFor="let detail of opinionsDetails.details">
                <app-rating-bar [rating]="detail[0]" [count]="detail[1]" [total]="opinionsDetails.overallOpinions"></app-rating-bar>
            </div>
        </div>
    </div>
    <div class="checkbox-wrapper">
        <input type="checkbox" class="sc-gJwTLC ikxBAC" (change)="onShowUserOpinionsListChange($event)">
        <p>Show user opinions</p>
    </div>
    <div class="container-list"
    [class.show]="showUserOpinionsList">
        <app-user-opinions-list></app-user-opinions-list>
    </div>
</div>