.opinions-main-container{
    display: flex;
    flex-flow: column;
    container-type: inline-size;
    container-name: opinionsMainContainer;
}

.star-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.star-container.center{
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.overall-opinions{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    padding: 10px;
}

.detailed-opinions{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.bar{
    width: 100%;
    transition: all .3s ease-in-out;
    padding: 0 5px;
    border-radius: 5px;
}

.bar.selected{
    border: 1px solid var(--pink);
}

.bar:hover{
    scale: 1.05;
    cursor: pointer;
}

/* PARAGRAPHS */

.overall-value-opinion{
    font: bold 1.1rem "Roboto", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    width: fit-content;
}

.overall-number-value{
    font: bold .8rem "Roboto", sans-serif;
    color: var(--white);
    margin: 0;
    padding: .5rem 0 0 0;
    width: fit-content;
}

.container-list{
    overflow-y: auto;
    height:0;
    padding: 5px 10px;
    transition: height .3s ease-in-out;
}

.container-list.show {
    height: 100%;
    max-height: 100vh;
}


.container-list .center{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: var(--light-blue);
    cursor: pointer;
}



@container opinionsMainContainer (width < 440px){
    .star-container{
        flex-flow: column;
    }
    .overall-opinions,
    .detailed-opinions{
        width: 100%;
    }
}




