<div class="opinions-main-container">
    <h2>Opinions</h2>
    <div class="star-container"
        [class.center]="opinionsDetails.totalReviews == 0"
    >
        <div class="overall-opinions">
            <p class="overall-value-opinion">{{opinionsDetails.rating | number:'1.1-1'}} / 5</p>
            <app-rating-stars [rating]="opinionsDetails.rating"></app-rating-stars>
            <p class="overall-number-value">Based on {{opinionsDetails.totalReviews}} opinions</p>
        </div>
        <div class="detailed-opinions">
            <div class="bar"
                 [class.selected]="+rating.key == this.selected_rating"
                 *ngFor="let rating of this.opinionsDetails.ratingCounts | keyvalue"
                 (click)="selectRating(rating.key)"
            >
                    <app-rating-bar [rating]="+rating.key" [count]="rating.value" [total]="opinionsDetails.totalReviews"/>
            </div>
        </div>
    </div>
    <div class="checkbox-wrapper" *ngIf="opinionsDetails.totalReviews != 0">
        <input type="checkbox" class="sc-gJwTLC ikxBAC"
               [(ngModel)]="showUserOpinionsList"
               (change)="onShowUserOpinionsListChange($event)">
        <p>Show user opinions</p>
    </div>
    <div class="container-list" #scrollContainer
         *ngIf="opinionsDetails.totalReviews != 0"
        [class.show]="showUserOpinionsList">
        <app-double-spinner *ngIf="isUserOpinionsLoading && opinions.length == 0"/>
        <app-user-opinions-list *ngIf="opinions.length != 0" [opinions]="opinions"></app-user-opinions-list>

        <div class="center" *ngIf="this.opinions.length != pagination.totalItems" (click)="showMore()">
            <app-double-spinner *ngIf="isUserOpinionsLoading && opinions.length != 0"/>
            <p *ngIf="!isUserOpinionsLoading">Show more...</p>
        </div>
    </div>
</div>