argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
certifi==2026.6.17
cffi==2.0.0
Faker==40.13.0
greenlet==3.4.0
minio==7.2.20
pillow==12.3.0
psutil==7.2.2
pycparser==3.0
pycryptodome==3.23.0
PyMySQL==1.1.2
SQLAlchemy==2.0.49
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.7.0