.parent{
    padding: 10px 10px;
}

.result-list-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    max-height: 90vh;
    overflow-y: auto;
}