<div class="company-business-hours">
    <h2>Opening hours</h2>
    <div class="parent">
        <div class="content" *ngFor="let item of openingHours" [ngClass]="item.open? 'open': 'closed'">
            <div class="day">
                <p class="day-paragraph">{{item.dayOfWeek}}</p>
            </div>
            <div class="hours">
                <p class="hour-from-paragraph" *ngIf="!item.open">Closed</p>
                <p class="hour-from-paragraph" *ngIf="item.open">{{item.openTime}}</p>
                <p class="hour-to-paragraph" *ngIf="item.open">{{item.closeTime}}</p>
            </div>
        </div>
    </div>
</div>