.company-business-hours{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    min-width: 90px;
    min-height: 74px;
    gap: .5rem;
    padding: .5rem;
    border-radius: 5px;
}

.content.open{
    background-color: var(--lime_10);
    box-shadow: inset 0 0 10px var(--lime);
}

.content.closed{
    background-color: var(--pink_10);
    box-shadow: inset 0 0 10px var(--pink);

}

.content.today{
    border: 2px solid var(--white);
    box-shadow: inset 0 0 10px var(--white);
}

.parent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    height: 100%;
    gap: 1rem;
    align-items: stretch;
}

.day{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.hours{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.day-paragraph{
    font: bold .9rem "Times New Roman", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
}

.hour-from-paragraph{
    font: .8rem "Times New Roman", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    height: 100%;
}

.hour-to-paragraph{
    font: .9rem "Times New Roman", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
    height: 100%;
}