.category-container{
    width: 100%;
    background-color: transparent;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-bottom: 2px solid var(--white);
}

.category-list-container{
    position: relative;
    height: fit-content;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}


.category-list, .category-item{
    width: auto;
    height: auto;
}

.category-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    gap: 10px;
}

.category-item{
    font: bold 14px/1.5 Georgia, "Times New Roman", Times, serif;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--white-5);
    animation: fadeInLeft .3s forwards;
    cursor: pointer;
}

.category-item p{
    padding: 0;
    margin: 0;
}

.category-item > .category-company-amount{
    font-size: 12px;
    user-select: none;
}

.category-item > .category-name-paragraph{
    font-size: 14px;
    user-select: none;
}

.category-item:hover{
    color: var(--pink);
    transition: .35s;
    border: 1px solid var(--pink);
    background-color: var(--pink_5);
}


.paginator-dropdown{
    display: flex;
    flex-flow: column;
    justify-content: center;
    list-style: none;
    gap: 30px;
    margin-bottom: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.paginator-dropdown.show {
    max-height: 500px;
    opacity: 1;
}

.drop-down-icon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.drop-down-icon.up{
    rotate: 180deg;
    transition: .2s ease-in-out;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}