<div class="category-container">
    <app-double-spinner *ngIf="categoryList.length == 0"/>
    <div class="category-list-container"
         *ngIf="categoryList.length != 0"
    >
        <ul class="category-list">
            <li class="category-item" (click)="onCategoryClick(category.name)"
                *ngFor="let category of categoryList"
                [class.active]="router.url.includes(encodeURIComponent(category.name))"
            >
                <p class="category-name-paragraph">{{category.name}}</p>
                <p class="category-company-amount">( {{category.numberOfCompanies}} )</p>
            </li>
        </ul>
        <img class="drop-down-icon"
             *ngIf="pagination.totalItems > 10"
             [ngClass]="{ 'up': isDropdownOpen }"
             [src]="drop_down_icon"
             alt="More" (click)="toggleDropdown()" />
    </div>
    <div class="paginator-dropdown"
         [ngClass]="{ 'show': isDropdownOpen }">
        <app-paginator
                (paginatorChanged)="onPaginationChange()"
                [pagination]="pagination"/>
    </div>
</div>