<div class="category-container">
    <div class="category-list-container">
        <ul class="category-list">
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">3231</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">1321</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">932</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">643</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">432</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">333</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">222</p>
            </li>
            <li class="category-item">
                <p class="category-name-paragraph">Test</p>
                <p class="category-company-amount">121</p>
            </li>
            <li class="category-item">More</li>
        </ul>
    </div>
</div>