
.user-opinion-container{
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
    gap: 10px;
    background-color: var(--white-5);
    padding: 6px;
    border: 1px solid var(--white-10);
    border-radius: 5px;
}

.head-opinion-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.user-information-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
}

.user-information-container .user-avatar{
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.user-information-container img{
    width: 30px;
    height: 30px;
}

.user-information > .name{
    font: bold .9rem "Roboto", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
}

.user-information > .date{
    font: bold .7rem "Roboto", sans-serif;
    color: var(--white-75);
    margin: 0;
    padding: 0;
}

.star-icon-container{
    display: flex;
    flex-flow: row;
    gap: 5px;
    align-self: flex-start;
    height: 100%;
}
.star-icon-container img{
    width: 20px;
    height: 20px;
}

.opinion-actions-container{
    display: flex;
    gap: 0;
}

.opinion-actions-container > .img-bg > img{
    width: 15px;
    height: 15px;
    position: relative;
}

.opinion-actions-container > .img-bg{
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.opinion-actions-container > .img-bg:hover > .tooltip{
    transition: all .3s ease-in-out;
    z-index: 999;
    opacity: 1;
}

.opinion-actions-container > .img-bg > .tooltip{
    position: fixed;
    background: var(--dark);
    color: var(--white);
    padding: 5px;
    border-radius: 15px;
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
}

.opinion-actions-container > .img-bg > .tooltip > span{
    width: 100%;
    font-size: 14px;
    text-wrap: nowrap;
    padding: 0 5px;
}



.opinion-actions-container > .img-bg:hover{
    background-color: var(--white-10);
    aspect-ratio: 1/1;
    border-radius: 50%;
    scale: 1.1;
    width: 30px;
    height: 30px;
}

.content-opinion{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin: 0 0 5px 0;
}

.offer-name{
    font: bold 1rem "Roboto", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
}

.opinion-message{
    font: 1rem "Times New Roman", sans-serif;
    color: var(--white-75);
    margin: 0;
    padding: 0;
    text-wrap: wrap;
    text-align: justify;
}

