<div class="user-opinion-container" *ngFor="let opinion of opinions">
    <div class="head-opinion-container">
        <div class="user-information-container">
            <img [src]="getUserAvatar(opinion.author.avatar)" class="user-avatar" alt="avatar"/>
            <div class="user-information">
                <p class="name">{{opinion.author.firstName}} {{opinion.author.lastName}}</p>
                <p class="date">{{opinion.created_at | date:'HH:mm  dd.MM.yyyy'}}</p>
            </div>
            <div class="star-icon-container">
                <img src="/icons/star_icon.svg" alt="star" *ngFor="let index of rows(opinion.rating)"/>

            </div>
        </div>
        <div class="opinion-actions-container" *ngIf="logged_id">
            <div class="img-bg"
                (click)="onReportOpinion()"
            >
                <img src="/icons/flag_icon.svg" alt="flag"/>
                <div class="tooltip">
                    <span>Report this opinion</span>
                </div>
            </div>
            <div class="img-bg"  *ngIf="isMyOpinion(opinion.author)"
                        (click)="onDeleteClick()"
            >
                <img src="/icons/trash_icon.svg" alt="flag"/>
                <div class="tooltip">
                    <span>Delete</span>
                </div>
            </div>
            <div class="img-bg" *ngIf="isMyOpinion(opinion.author)">
                <img src="/icons/pencil_icon.svg" alt="flag"
                     (click)="onEditOpinion(opinion)"
                />
                <div class="tooltip">
                    <span>Edit</span>
                </div>
            </div>
        </div>
    </div>
    <div class="content-opinion">
        <p class="offer-name">{{opinion.offer.name}}</p>
        <p class="opinion-message">{{opinion.comment}}</p>
    </div>
</div>

<app-edit-opinion-modal
        [opinion]="opinionToEdit"
        [isVisible]="isModalToEditOpen"
        (onClose)="onEditModalClose()"/>