<div class="appointments-card" *ngIf="reservation">
    <div class="name-container">
        <h2>{{reservation.companyOffer.name}}</h2>
    </div>
    <div class="appointments-data">
        <div class="order-user">
            <app-my-img [src]="reservation.customer.avatar_url" [type]="FileType.IMG_USER_AVATAR" [alt]="'img'"/>
            <span>{{reservation.customer.firstName}} {{reservation.customer.lastName}}</span>
        </div>

        <div class="order-number">
            <span>{{reservation.reservationNumber}}</span>
        </div>

        <div class="order-date-information">
            <div>
                <span> {{ reservation.reservationDate | date:'dd/MM/yyyy (EEEE)' }}</span>
            </div>
            <div>
                <span> {{reservation.reservationDate | date:'HH:mm' }} - {{getReservationEndDate(reservation) | date: 'HH:mm'}}</span>
            </div>
            <div>
                <span> {{reservation.companyOffer.price}} PLN</span>
            </div>
        </div>

        <div class="pink-75-width-line"></div>

        <div class="status-employee-information">
            <app-drop-down-list
                    [disabled]="!isEditable"
                    (valueChanged)="onPreferredEmployeeChanged($event)"
                    [selectedOption]="selectedEmployee"
                    [noneValue]="false"
                    [options]="toDropDownList()"
                    [placeholder]="'Preferred employee'">
            </app-drop-down-list>
            <app-drop-down-list
                    [disabled]="!isEditable"
                    (valueChanged)="onStatusChanged($event)"
                    [noneValue]="false"
                    [selectedOption]="selectedStatus"
                    [options]="statusDropDownList"
                    [placeholder]="'Status'">
            </app-drop-down-list>
        </div>


        <div class="buttons" *ngIf="reservationChanged">
            <div class="btn-container pink" (click)="reset()">
                <img [src]="'icons/pencil_icon.svg'" alt="search" />
                <div class="expand">
                    <p class="btn-text">Reset</p>
                </div>
            </div>

            <div class="btn-container"  (click)="confirm()">
                <img [src]="'icons/confirm_icon.svg'" alt="search" />
                <div class="expand">
                    <p class="btn-text">Confirm</p>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="appointments-card" *ngIf="!reservation">
    <app-double-spinner/>
</div>