
<app-double-spinner *ngIf="companies.length == 0"/>
<div class="list-row"
     *ngIf="companies.length > 0"
     tabindex="0">
    <button class="nav left" aria-label="Scroll left" (click)="scrollByDirection('left')">◀</button>
    <button class="nav right" aria-label="Scroll right" (click)="scrollByDirection('right')">▶</button>

    <div
        #track
        class="track"

    >
        <div class="card"
             *ngFor="let company of companies"
             (pointerdown)="onPointerDown($event)"
             (pointermove)="onPointerMove($event)"
             (pointerup)="onPointerUp($event, company)"
             (pointercancel)="onPointerUp($event)">
            <app-company-list-item [company]="company"/>
        </div>

    </div>
</div>

