<div class="navbar">
    <div class="wrapper">

        <div class="navbar-left">
            <img [src]="'images/app-logo.png'" alt="Logo"/>
            <h2 routerLink="/">Book Me Up</h2>
        </div>

        <div class="navbar-center" *ngIf="user.isLoggedIn">
            <div class="nav-item"
                 *ngFor="let nav of NAV"
                [ngClass]="router.url.includes(nav.path) ? 'active' : ''"
            >
                <a [routerLink]="nav.path" *appRoleChecker="nav.role">

                    @if (nav.path.includes('/app/messages')){
                        <div class="badge-item"
                        [class.show]="messageReceivedCount != 0"
                        >{{messageReceivedCount < 99 ? messageReceivedCount : 99}}</div>
                    }

                    <img [src]="nav.icon" alt="icon"/>
                    <div class="nav-name">
                        <span>{{nav.name}}</span>
                    </div>
                </a>
            </div>
        </div>


        <div class="navbar-right" *ngIf="user.isLoggedIn">
            <app-my-img
                    [type]="FileType.IMG_USER_AVATAR"
                    [src]="user.avatar? user.avatar : '' "
                    [alt]="'avatar'"/>

            <span class="user-name-txt">{{user.firstName}} {{user.lastName}}</span>
            <img [src]="'icons/logout_icon.svg'" alt="logout" (click)="logout()"/>
        </div>

        <div class="navbar-right" *ngIf="!user.isLoggedIn">
            <span class="sign-in-txt" (click)="toggleAuthModalVisible()">Sign in or Create an account</span>
        </div>


    </div>
</div>

<app-auth-modal [isVisible]="authModalVisible" (closeModal)="toggleAuthModalVisible()"></app-auth-modal>