.sidebar{
    padding: 10px;
}

.toggle-btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #2b2b40;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.nav-list{
    list-style: none;
    padding: 0;
}

.nav-list li{
    margin-bottom: 10px;
}

.nav-list a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    justify-content: left;
    transition: all 0.15s ease-in-out;
}

.nav-list a.active{
    background: #3a3a55;
}

.nav-list a.collapsed{
    justify-content: center;
}

.nav-list a:hover{
    background: #3a3a55;
}

.img-con{
    width: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text{
    width: 100%;
    transition: all .3s ease-in-out;
}
.nav-text.hidden{
    opacity: 0;
    width: 0;
    overflow: hidden;
}

li > a .text{
    color: white;
    text-wrap: nowrap;
    font : 14px "Roboto", sans-serif;
    font-weight: bold;
}




