.sidebar{
    padding: 10px;
}

.toggle-btn{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: var(--pink);

    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.btn-txt {
    color: white;
    transition: all .5s ease;
}

.btn-txt.rotated{
    transform: rotate(360deg);
}

.nav-list{
    list-style: none;
    padding: 0;
}

.nav-list li{
    margin-bottom: 10px;
}

.nav-list a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    justify-content: left;
    transition: all 0.15s ease-in-out;
}

.nav-list a.active{
    background: var(--pink_75) !important;
}

.nav-list a.collapsed{
    justify-content: center;
}

.nav-list a:hover{
    background: var(--pink_25);
}

.nav-list a:hover > .nav-text > .text{
    color: var(--white-75);
}

.img-con{
    width: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.img-con > .icon{
    width: 22px !important;
    height: 22px !important;
}

.nav-text{
    width: 100%;
    transition: all .3s ease-in-out;
}
.nav-text.hidden{
    opacity: 0;
    width: 0;
    overflow: hidden;
}

li > a.active .text{
    color: white !important;
    text-wrap: nowrap;
    font : 14px "Roboto", sans-serif;
    font-weight: bold;
}

li > a .text{
    color: var(--white-50);
    text-wrap: nowrap;
    font : 14px "Roboto", sans-serif;
    font-weight: bold;
}




