<div class="modal-backdrop" *ngIf="isVisible" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        <h2>Edit business hours</h2>

        <div class="days-grid">
            <div class="day-card"
                 *ngFor="let day of days"
                 [class.closed] = "!day.open">
                <h3>{{ day.dayOfWeek }}</h3>

                <label class="checkbox-wrapper">
                    <input type="checkbox" class="sc-gJwTLC ikxBAC" [(ngModel)]="day.open" />
                </label>

                <div class="time-group" [class.disabled]="!day.open">
                    <div class="time-block">
                        <label>From</label>
                        <div class="time-inputs">
                            <div class="time-control">
                                <button (click)="adjustTime(day, 'openTime', 'hour', 1)" [disabled]="!day.open">▲</button>
                                <span>{{ day.openTime.split(":")[0] | number:'2.0' }}</span>
                                <button (click)="adjustTime(day, 'openTime', 'hour', -1)" [disabled]="!day.open">▼</button>
                            </div>
                            <span class="white">:</span>
                            <div class="time-control">
                                <button (click)="adjustTime(day, 'openTime', 'minute', 5)" [disabled]="!day.open">▲</button>
                                <span>{{ day.openTime.split(":")[1] | number:'2.0' }}</span>
                                <button (click)="adjustTime(day, 'openTime', 'minute', -5)" [disabled]="!day.open">▼</button>
                            </div>
                        </div>
                    </div>

                    <div class="time-block">
                        <label>To</label>
                        <div class="time-inputs">
                            <div class="time-control">
                                <button (click)="adjustTime(day, 'closeTime', 'hour', 1)" [disabled]="!day.open">▲</button>
                                <span>{{ day.closeTime.split(":")[0] | number:'2.0' }}</span>
                                <button (click)="adjustTime(day, 'closeTime', 'hour', -1)" [disabled]="!day.open">▼</button>
                            </div>
                            <span class="white">:</span>
                            <div class="time-control">
                                <button (click)="adjustTime(day, 'closeTime', 'minute', 5)" [disabled]="!day.open">▲</button>
                                <span>{{ day.closeTime.split(":")[1] | number:'2.0' }}</span>
                                <button (click)="adjustTime(day, 'closeTime', 'minute', -5)" [disabled]="!day.open">▼</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="edit-container-buttons">
            <div class="btn-container dark-bg"
                 (click)="confirmEdit()">
                <img [src]="'icons/confirm_icon.svg'" alt="search" />
                <div class="expand">
                    <p class="btn-text white">Confirm</p>
                </div>
            </div>


            <div class="btn-container" (click)="close()">
                <img [src]="'icons/reject_icon.svg'" alt="close" />
                <div class="expand">
                    <p class="btn-text">Close</p>
                </div>
            </div>
        </div>
    </div>
</div>
