/* Kontener główny */
.card {
    border-radius: 12px;
    font-family: system-ui, -apple-system, sans-serif;
}

.metrics-banner {
    background-color: var(--white-5);
    border-radius: 10px;
    padding: 24px 16px;
    margin: 24px;
    display: flex;
    backdrop-filter: blur(5px);

    justify-content: space-around;
    align-items: center;
}

.metric-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    min-width: 90px;
    text-align: center;
}

.metric-value {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.metric-label {
    color: #e1e3ea;
    font-size: 13px;
    font-weight: 500;
}


.table {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.table-header,
.table-row {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    height: 48px;
}

.table-row:hover {
    transition: all .3s ease;
    background-color: var(--lime_5);
    cursor: pointer;
}

.table-header {
    font-size: 0.85rem;
    font-weight: 500;
    color: #8c919d;
    border-bottom: 1px solid #1f2228;
    padding-bottom: 12px;
}

.col-rank {
    width: 50px;
    color: var(--white);
    font: bold 14px/1.5 "Roboto", sans-serif;
    text-align: center;
}

.col-username {
    width: calc(100% - 100px - 125px - 50px);
    color: var(--white);
    font: bold 14px/1.5 "Roboto", sans-serif;
}

.col-type {
    width: 100px;
    text-align: right;
    color: var(--white);
    font: bold 14px/1.5 "Roboto", sans-serif;
}

.col-date{
    width: 125px;
    text-align: right;
    font: bold 14px/1.5 "Roboto", sans-serif;
    color: var(--white);
}

.rank-number {
    color: var(--white-75);
    font: 700 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.username, .type, .date{
    color: var(--white-75);
    font: normal 14px/1.5 "Roboto", sans-serif;
}


/* ========================================== */
/* STYLE SKELETON LOADING                    */
/* ========================================== */


.skeleton-number {
    width: 40px;
    height: 32px;
}

.skeleton-label {
    width: 80px;
    height: 12px;
}

.skeleton-text {
    height: 18px;
}

.skeleton-text.short {
    width: 50px;
}

.skeleton-text.medium {
    width: 80px;
}

.skeleton-text.large {
    width: 150px;
}

.skeleton-text.right {
    margin-left: auto;
}