:root{
    --dark: #010A0F;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-75: rgba(0, 0, 0, 0.75);


    --white: white;
    --white-5: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-25: rgba(255, 255, 255, 0.25);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-75: rgba(255, 255, 255, 0.75);



    --pink: #C80037;
    --red-15: #BC0003;

    --light-blue: #00BBFF;
    --light-blue-50: rgba(0, 187, 255, 0.5);
    --light-blue-85: rgba(0, 187, 255, 0.85);
    --light-blue-15: #0093BC;


    --gold: #BC8100;
    --light-yellow: #CACA6B;

    --lime: #73CA6B;
}

body{
    background: url('/images/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .nav-container, .nav-search-container{
        flex-direction: column;
        align-items: center;
    }
}