:root{
    --dark: #010A0F;
    --dark-purple: #11091f;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-75: rgba(0, 0, 0, 0.75);


    --white: white;
    --white-5: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-25: rgba(255, 255, 255, 0.25);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-75: rgba(255, 255, 255, 0.75);



    --pink: #C80037;
    --pink_10: rgba(200, 0, 55, 0.1);
    --pink_25: rgba(200, 0, 55, 0.25);
    --pink_50: rgba(200, 0, 55, 0.5);
    --pink_75: rgba(200, 0, 55, 0.75);
    --red-15: #BC0003;

    --light-blue: #00BBFF;
    --light-blue-50: rgba(0, 187, 255, 0.5);
    --light-blue-85: rgba(0, 187, 255, 0.85);
    --light-blue-15: rgba(0, 147, 188, 0.15);
    --light-blue-25: rgba(0, 147, 188, 0.25);

    --dark-blue: #0f1b24;

    --gold: #BC8100;
    --light-yellow: #CACA6B;

    --lime: #73CA6B;
    --lime_25: rgba(115, 202, 107, 0.25);
    --lime_50: rgba(115, 202, 107, 0.5);
    --lime_750: rgba(115, 202, 107, 0.75);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 6px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-blue);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) transparent;
}

h2{
    color: var(--white);
    font: bold 1.1rem "Roboto", sans-serif;
    margin: 0 0 .5rem;
    padding: 0;
}

.view-container{
    display: flex;
    flex-flow: column;
    justify-items: center;
    margin-top: 20px;
    width: 75%;
    align-self: center;
    margin-bottom: 20px;
    background-color: var(--black-25);
    border-radius: 5px;
    /*padding: 10px;*/
}

@media (min-width: 1920px) {
    .view-container{
        max-width: 1920px;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    background: url('/images/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .nav-container, .nav-search-container{
        flex-direction: column;
        align-items: center;
    }
}



/* Check box css */
.checkbox-wrapper{
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-wrapper p{
    font: 1rem "Times New Roman", sans-serif;
    color: var(--white-75);
    margin: 0;
    padding: 0;
}

.checkbox-wrapper .ikxBAC {
    appearance: none;
    background-color: var(--white-10);
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 40px;
}

.checkbox-wrapper .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper .ikxBAC,
.checkbox-wrapper .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper .ikxBAC::after {
    background-color: var(--pink);
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper .ikxBAC:hover {
    background-color: var(--white-10);
    transition-duration: 0s;
}

.checkbox-wrapper .ikxBAC:checked {
    background-color: var(--pink_10);
}

.checkbox-wrapper .ikxBAC:checked::after {
    background-color: var(--pink);
    left: 23px;
}

.checkbox-wrapper :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper .ikxBAC:checked:hover {
    background-color: var(--pink_10);
}
