<div class="pagination-wrapper">
    <div class="pagination-left">
        <label for="itemsPerPage">On page:</label>
        <select id="itemsPerPage" (change)="changeItemsPerPage($event)" [value]="this.pagination.itemsPerPage">
            <option *ngFor="let option of this.pagination.itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
    </div>

    <div class="pagination-center">
        <button (click)="firstPage()" [disabled]="this.pagination.currentPage === 1">«</button>
        <button (click)="previousPage()" [disabled]="this.pagination.currentPage === 1">‹</button>

        <div *ngFor="let page of visiblePages">
            <button
                    (click)="changePage(page)"
                    [class.active]="page === this.pagination.currentPage">
                {{ page }}
            </button>
        </div>

        <button (click)="nextPage()" [disabled]="this.pagination.currentPage === totalPages">›</button>
        <button (click)="lastPage()" [disabled]="this.pagination.currentPage === totalPages">»</button>
    </div>

    <div class="pagination-right">
        Page {{ this.pagination.currentPage }} of {{ totalPages }}
    </div>
</div>
