<div class="modal-backdrop" *ngIf="isVisible" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        <div class="title-container">
            <h2>Add new employee</h2>
        </div>

        <div class="parent">

            <form class="search-bar">

                <input type="text"
                       [(ngModel)]="searchModel.firstName"
                       name="firstName"
                       placeholder="Search by name">

                <input type="text"
                       [(ngModel)]="searchModel.lastName"
                       name="lastName"
                       placeholder="Search by surname">

                <img [src]="'icons/search_icon.svg'" alt="search" (click)="onSearchClick()">
                <img [src]="'icons/reject_icon.svg'" alt="clear">

            </form>

            <div class="search-employee-container">
                <div class="search-employee-list">
                    <app-double-spinner *ngIf="isUsersLoading"/>
                    <div class="employee-item"
                         *ngFor="let employee of searchEmployeeList"
                         (click)="addEmployeeToSelected(employee)"
                         [class.disabled]="isEmployeeSelected(employee.id) || isEmployeeAlreadyHired(employee.id)"
                    >
                        <img [src]="employee.avatar" alt="Avatar"/>
                        <h2>{{employee.firstName}} {{employee.lastName}}</h2>
                    </div>


                </div>
                <app-paginator [pagination]="paginator"></app-paginator>
            </div>

            <div class="added-employee-preview-list" *ngIf="selectedEmployee.length > 0">
                <h2>Added employee - {{selectedEmployee.length}}</h2>
                <div class="search-employee-list">
                    <div class="employee-item added"
                         *ngFor="let empl of selectedEmployee"
                         (click)="removeEmployeeFromSelected(empl.id)"
                    >
                        <img [src]="empl.avatar" alt="Avatar"/>
                        <h2>{{empl.firstName}} {{empl.lastName}}</h2>
                    </div>
                </div>
            </div>


        </div>

        <div class="edit-container-buttons">
            <div class="btn-container"
                 [class.disabled]="selectedEmployee.length === 0"
                 (click)="confirm()">
                <img [src]="'icons/confirm_icon.svg'" alt="search" />
                <div class="expand">
                    <p class="btn-text white">Confirm</p>
                </div>
            </div>


            <div class="btn-container" (click)="close()">
                <img [src]="'icons/reject_icon.svg'" alt="close" />
                <div class="expand">
                    <p class="btn-text">Close</p>
                </div>
            </div>
        </div>
    </div>
</div>