<div class="modal-backdrop" *ngIf="isVisible" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        <div class="title">
            <h2> Add new company</h2>
        </div>

        <form #companyForm="ngForm" (ngSubmit)="onSubmit(companyForm)">
            <div class="horizontal-parent">
                <div class="logo-container">
                    <img [src]="'images/default_logo_company.png'" alt="logo"/>
                    <div class="select-file-button">
                        <img [src]="'icons/file_select_icon.svg'" alt="select"/>
                    </div>
                    <app-drop-down-list
                            (valueChanged)="onCategoryChanged($event)"
                            [placeholder]="'Select category'" />

                </div>

                <div class="vertical-parent">
                    <div class="inputBox height-30">
                        <input type="text"
                               name="name"
                               required
                               #nameCtrl="ngModel"
                               [(ngModel)]="companyDetails.name"
                               minlength="3">
                        <span>Company name</span>
                        <div *ngIf="nameCtrl.invalid && nameCtrl.touched">
                            <p *ngIf="nameCtrl.errors?.['required']">Name is required</p>
                            <p *ngIf="nameCtrl.errors?.['minlength']">Name must be at least 3 characters</p>
                        </div>
                    </div>

                    <div class="inputBox">
                                <textarea
                                        name="description"
                                        [(ngModel)]="companyDetails.description"
                                        required
                                        minlength="10"
                                        #descCtrl="ngModel">
                                </textarea>
                        <span>Description</span>
                        <div *ngIf="descCtrl.invalid && descCtrl.touched">
                            <p *ngIf="descCtrl.errors?.['required']">Description is required</p>
                            <p *ngIf="descCtrl.errors?.['minlength']">Description must be longer</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="inputBox padding-20 vertical">
                <span>Address</span>

                <div class="horizontal">

                    <div class="inputBox">
                        <input type="text"
                               name="city"
                               required
                               #cityCtrl="ngModel"
                               [(ngModel)]="companyDetails.address.city"
                               minlength="3">
                        <span>City</span>
                        <div *ngIf="cityCtrl.invalid && cityCtrl.touched">
                            <p *ngIf="cityCtrl.errors?.['required']">City is required</p>
                            <p *ngIf="cityCtrl.errors?.['minlength']">City must be at least 3 characters</p>
                        </div>
                    </div>

                    <div class="inputBox">
                        <input type="text"
                               name="postalCode"
                               required
                               #postalCodeCtrl="ngModel"
                               [(ngModel)]="companyDetails.address.postalCode"
                               minlength="3">
                        <span>Postal code</span>
                        <div *ngIf="postalCodeCtrl.invalid && postalCodeCtrl.touched">
                            <p *ngIf="postalCodeCtrl.errors?.['required']">Postal code is required</p>
                            <p *ngIf="postalCodeCtrl.errors?.['minlength']">Postal code must be at least 3 characters</p>
                        </div>
                    </div>

                </div>

                <div class="horizontal">
                    <div class="inputBox">
                        <input type="text"
                               name="street"
                               required
                               #streetCtrl="ngModel"
                               [(ngModel)]="companyDetails.address.street"
                               minlength="3">
                        <span>Street</span>
                        <div *ngIf="streetCtrl.invalid && streetCtrl.touched">
                            <p *ngIf="streetCtrl.errors?.['required']">Street is required</p>
                            <p *ngIf="streetCtrl.errors?.['minlength']">Street must be at least 3 characters</p>
                        </div>
                    </div>

                    <div class="inputBox">
                        <input type="text"
                               name="buildingNumber"
                               required
                               #buildingNumberCtrl="ngModel"
                               [(ngModel)]="companyDetails.address.buildingNumber"
                               minlength="1">
                        <span>Building number</span>
                        <div *ngIf="buildingNumberCtrl.invalid && buildingNumberCtrl.touched">
                            <p *ngIf="buildingNumberCtrl.errors?.['required']">Building number is required</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn_container">
                <div class="btn dark_blue" (click)="onClear()">
                    <img [src]="'icons/trash_icon.svg'" alt="reset"/>
                    <div class="expand">
                        <span>Clear</span>
                    </div>
                </div>
                <div class="btn dark_blue" (click)="onSubmit(companyForm)">
                    <img [src]="'icons/confirm_icon.svg'" alt="reset"/>
                    <div class="expand">
                        <span>Confirm</span>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>