<div class="top-bar-container">
    <p class="title-paragraph">Book me up</p>

    <div class="search-container" [class.active]="isActive">
        <img class="search-icon"
             [src]="'icons/search_icon.svg'"
             (click)="toggleSearch()" alt="icon"/>
        <div class="search-input-container">
            <div class="input-container">
                <input type="text" placeholder="Search by company" class="search-input" />
            </div>
            <div class="input-container">
                <input type="text" placeholder="Search by place" class="search-input" />
            </div>
            <div class="action-container">
                <img [src]="'icons/confirm_icon.svg'" alt="search"/>
            </div>
        </div>
    </div>

    <div class="top-bar-sing-in-create-account">
        <p [textContent]="sign_in_or_create_account" class="sign-in-paragraph" (click)="showAuthModal()"></p>
    </div>
</div>

<app-auth-modal [isVisible]="isModalVisible" (closeModal)="hideAuthModal()"></app-auth-modal>