<div class="top-bar-container">
    <p class="title-paragraph">Book me up</p>
    <div class="top-bar-search-container">
        <div class="search-input-container">
            <img [src]="search_icon" alt="search" class="input-icon"/>
            <input type="text" placeholder="Search for services or company" class="input-search">
            <img [src]="confirm_icon" alt="confirm" class="input-icon"/>
            <img [src]="reject_icon" alt="reject" class="input-icon"/>
        </div>
        <div class="search-input-container">
            <img [src]="localization_icon" alt="search" class="input-icon"/>
            <input type="text" placeholder="Where?" class="input-search">
            <img [src]="confirm_icon" alt="confirm" class="input-icon"/>
            <img [src]="reject_icon" alt="reject" class="input-icon"/>
        </div>
    </div>
    <div class="top-bar-sing-in-create-account">
        <p [textContent]="sign_in_or_create_account" class="sign-in-paragraph"></p>
    </div>
</div>
